h1  {
    text-align: center;
    font-weight: normal;
    text-decoration: rgb(219, 167, 70) underline wavy;
    letter-spacing: 15px;
    font-size: 80px;
    /* font-family: 'Segoe UI', Arial; */
    font-family: monospace;
    text-decoration: plum underline wavy;
}

p {
    text-align: justify;
    line-height: 1.5;
}

a {
    text-decoration: none;
} 